*
{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}

body
{
	// background: url("../img/brick.jpg") no-repeat center center fixed; 
 //  -webkit-background-size: cover;
 //  -moz-background-size: cover;
 //  -o-background-size: cover;
 //  background-size: cover;

	
}

header
{
	// background-color: rgba(0,0,0,0.1);
}

.picture
{
	height:300px;
}